<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/font-awesome.min.css">
<script type="text/javascript" src="static/js/Chart.bundle.js"></script>
<script type="text/javascript" src="static/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="static/js/popper.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/resampler.js"></script>
<script type="text/javascript" src="static/js/speex.js"></script>
<script type="text/javascript" src="static/js/nuance.js"></script>
<script type="text/javascript">
	var elem = document.createElement('textarea');
	elem.innerHTML = "{{companyDictStr}}";
	var decoded = elem.value;
	categoryDict = JSON.parse(decoded);
	elem.innerHTML = "{{stockPriceDictStr}}";
	decoded = elem.value;
	console.log(decoded);
	stockPriceDict = JSON.parse(decoded);
	pastDateRange = stockPriceDict['date'];
	optionHTMLDict = {};
	reverseCategoryDict = {};
	for(var key in categoryDict)
	{
		if(categoryDict.hasOwnProperty(key))
		{
			var categoryList = categoryDict[key];
			optionHTMLDict[key] = "";

			for(var i = 0; i < categoryList.length; i++)
			{
				var pair = categoryList[i];
				optionHTMLDict[key] += "<option value='" + pair[0] + "'>" + pair[1] + "</option>";
				reverseCategoryDict[pair[0]] = key;
			}
		}
	}
</script>
</head>
<body>
<div class="container-fluid">
	<div class="row">
	    <div class="col">
			<h3>Stock Price Predictor <button id="recordButton"><i class="fa fa-microphone"></i></button></h3>
		</div>
	</div>
	    	<form role ="form" id="companyForm">
	<div class="row">
	    <div class="col">
	    	Category
	    		<select id="categorySelect" style="width: 80%;height:40%" multiple>
	    			{% for key in categoryNames %}
	    			<option value="{{key}}">{{key}}</option>
	    			 {% endfor %}
	    		</select>
	    	<br>Company
	    		<select id="companySelect" style="width: 80%;height:40%" multiple>
	    		</select>
	    </div>
	    <div class="col">
	    	
			<canvas id=chartCanvas></canvas>
	    </div>
	</div>
	    	</form>
</div>
	<script type="text/javascript">
		/*companyDataDict = {
			"MSFT" : [4, 6, 3],
			"MMM": [2, 4, 5]
		}*/
		companyDataDict = stockPriceDict;
		canv = document.getElementById("chartCanvas");
		chartData = {};
		chartData.labels = pastDateRange;
		dataset1 = {};
		dataset1.label = "";
		dataset1.data = [];
		dataset1.fill = false;
		dataset1.borderColor = "rgb(0, 80, 60)";
		dataset1.lineTension = 0.1;
		chartData.datasets = [dataset1];
		chartOptions = 
			{
			scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:false
	                }
	            }]
	        }
	    };	
		chart = new Chart(canv, 
		{
			type: 'line',
			data: chartData,
			options: chartOptions
		});


	</script>
	<script type="text/javascript">
		$( "#categorySelect" )
  .change(function () {
    var selectedOption = $( "#categorySelect option:selected" ).first();
    var selectedValue = selectedOption.attr("value");
    $( "#companySelect" ).html(optionHTMLDict[selectedValue]);
  });
		$( "#companySelect" )
  .change(function () {
  	//alert("change!");
    var selectedOption = $( "#companySelect option:selected" ).first();
    var selectedValue = selectedOption.attr("value");
    var selectedText = selectedOption.text();
    dataset1.label = selectedText;
	//alert("selected: " + selectedValue);
  	dataset1.data = companyDataDict[selectedValue];
    
    chart.update();
  });
	</script>
<script type="text/javascript" src="static/js/nlu-configuration.js"></script>
<script type="text/javascript" src="static/js/nlu-stuff.js"></script>
</body>
</html>